
{# TODO: s/template/salt_name/g #}
{% set shorewall = salt['grains.filter_by']({
    'default': {
        'pkg': 'shorewall',
        'pkg6': 'shorewall6',
        'service': 'shorewall',
        'service6': 'shorewall6',
        'config': '/etc/shorewall/',
        'config6': '/etc/shorewall6/',
        'logfile': '/var/log/messages'
    },
    'Debian': {
        'pkg': 'shorewall',
        'pkg6': 'shorewall6',
        'service': 'shorewall',
        'service6': 'shorewall6',
        'config': '/etc/shorewall/',
        'config6': '/etc/shorewall6/',
        'logfile': '/var/log/syslog'
    },
}, merge=salt['pillar.get']('shorewall:lookup')) %}

{% set shorewall6 = salt['grains.filter_by']({
    'default': {
        'pkg': 'shorewall6',
        'service': 'shorewall6',
        'config': '/etc/shorewall6',
    },
}, merge=salt['pillar.get']('shorewall:lookup6')) %}
